* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.container {
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.img-container {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}
.container-info {
    width: 100%;
    height: 80%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
.container-h1 {
    color: hsl(223, 47%, 23%);
}
.container-p {
    color: hsl(224, 23%, 55%);
    font-size: 12px;
    padding-top: 20px;
    margin: 0 60px;
    text-align: center;
}
.container-plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
}
.plans{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    left: -55px;
    

}
.plan-text,.plan-cost {
    font-size: 14px;
}
.plan-text {
    color:hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}
.plan-cost {
    color:hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.plan-change{
    position: relative;
    font-size: 12px;
    font-weight: 700;
    left: 0px;
    top: 15px;
}
.plan-change:hover {
    text-decoration: underline;
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}
.plan-icon {
    margin-right: 60px;
}
.icon {
    transform: scale(0.9);
}
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
   
}
.accept {
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 2px 20px rgb(133, 133, 133);
}
.accept:hover {
    background-color: hsl(224, 23%, 55%)
}
.cancel {
    color: hsl(223, 47%, 23%);
    margin-top: 10px;
}